
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("sofia-background.jpg");
    background-size: cover;
    height: 100vh;
}

div.text {
    text-align: center;
    padding: 40px 15px 15px 15px;
}

h1 {
    font-size: 65px;
    color: white !important;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    font-style: italic;
}

h1:after, h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ffff08;
    border-top: 1px solid #ffff08;
    height: 5px;
    background-color:#f8f8f8;
}


h2 {
    font-size: 40px;
    color: white !important;
    letter-spacing: 5px;
    font-style: italic;
}